<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgm40mWWVFD2mx32MPKNoaHKZyMUC0f8o</string>
	<key>GCM_SENDER_ID</key>
	<string>848258502362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osdifa.ardrawingPro</string>
	<key>PROJECT_ID</key>
	<string>ar-drawing-a3110</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-drawing-a3110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848258502362:ios:7d3f3d2db808b439219fe3</string>
	<key>DATABASE_URL</key>
	<string>https://ar-drawing-a3110-default-rtdb.firebaseio.com</string>
</dict>
</plist>